{% extends 'instagram/base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="card-body">
  {% if searched_image %}
 

  {% else %}
  <h2> Found 0 image for the search term {{message}} </h2>  
  
  {% endif %}
</div>
  
{% if searched_image %}
{% for image in searched_image %}
     <div class="card">
       <img src="{{image.images.url}}" class="img-responsive"
       width="50%"
       height="50%"
       alt="">
      <p>{{image.name}}</p>
      <p>{{image.caption}}</p>
      <p>{{image.date}}</p>
     </div>
     {% endfor %}
     {% endif %}
    </div>
  </div>
{% endblock %}